//----------------------------------------------------------------------------------------------------;
var fileNm = "js/<!=name=!>/__define/200_define_window.<!=name=!>.<!=key=!>.js";
if( console ) console.log( "[ S ] - " + fileNm + "----------" );
//----------------------------------------------------------------------------------------------------;

//----------------------------------------------------------------------------------------------------[ S ] - window.<!=name=!>.<!=key=!>;

window.<!=name=!>.<!=key=!> = window.<!=name=!>.<!=key=!> || {};

//----------------------------------------------------------------------------------------------------[ E ] - window.<!=name=!>.<!=key=!>;

//----------------------------------------------------------------------------------------------------;
if( console ) console.log( "[ E ] - " + fileNm + "----------" );
//----------------------------------------------------------------------------------------------------;