//----------------------------------------------------------------------------------------------------;
var fileNm = "js/<!=name=!>/__define/200_define_global.<!=name=!>.<!=key=!>.js";
if( console ) console.log( "[ S ] - " + fileNm + "----------" );
//----------------------------------------------------------------------------------------------------;

//----------------------------------------------------------------------------------------------------[ S ] - global.<!=name=!>.<!=key=!>;

global.<!=name=!>.<!=key=!> = global.<!=name=!>.<!=key=!> || {};

//----------------------------------------------------------------------------------------------------[ E ] - global.<!=name=!>.<!=key=!>;

//----------------------------------------------------------------------------------------------------;
if( console ) console.log( "[ E ] - " + fileNm + "----------" );
//----------------------------------------------------------------------------------------------------;